<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">Wikinimous</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "New Article", new_article_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-left">
      <ul class="list-unstyled articles">
        <% @articles.each do |article| %>
          <h2><%= link_to article.title, article_path(article) %></h2>
          <%= article.content %>

          <% end %>
      </ul>
    </div>
  </div>
</div>
